*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store
*.iws
.gradle/
.sonar-ide.properties
build/
/bin
.classpath
.project
.idea
*.iml
*.ipr
.settings/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.gradle/
!/gradle/wrapper/gradle-wrapper.jar

